{% include "header.html" %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About Us
            </h2>
          </div>
          <p>
            Our drone aerial measurement services offer precise, efficient, 
            and cost-effective solutions by drone operators in a variety of industries. 
            Our expertly piloted drones capture high-resolution data, enabling accurate assessments for construction, 
            agriculture, infrastructure, and more.
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="static/images/about-img.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</section>


<!-- end about section -->
  {% include "footer.html" %}