{% include "header.html" %}
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Services
          </h2>
          <p>
            Our drone aerial measurement services offer precise, 
            efficient, and cost-effective solutions by drone operators in a variety of industries. 
            Our expertly piloted drones capture high-resolution data, enabling accurate assessments for construction, agriculture, infrastructure, and more.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Point Cloud 
                  Survey
                </h5>
                <p>
                  Harness the power of aerial perspective with our precision drone aerial surveys, 
                  providing comprehensive land mapping and site inspection to deliver accurate data and imagery for your projects. 
                  See the difference our full drone aerial service makes.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Building Drone Survey
                </h5>
                <p>
                  Our drone building surveys team provide meticulous property condition evaluation, 
                  aiding clients in cost estimation, damage assessment, and renovation planning. 
                  Our expertise is for an in-depth understanding of your structure’s health and integrity.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Roof Drone Survey
                </h5>
                <p>
                  Utilising emissions tracking drone technology, <br>
                  we provide detailed and accurate monitoring of greenhouse gas emissions, <br>
                  aiding in compliance with environmental regulations and sustainable practices.

                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/s4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Land Drone Survey
                </h5>
                <p>
                  From improving crop health to monitoring land use changes and habitat degradation, <br>
                  our Multispectral aerial surveys provide a complete picture 
                  that empowers you to make informed decisions and achieve better outcomes.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end service section -->
  {% include "footer.html" %}

